extends baseEmail

block content
  p Hey #{name},
  p Thank you for registering for our event, #{eventName}.
  p We're excited to have you on board with us for this thrilling venture.
  p To ensure your smooth sailing experience, here are a few things you need to keep in mind!
  p There are a limited number of seats available, make sure you're present at the venue on time to get an entry on a first come first serve basis.
  p Details for your first step towards being a totally awesome techie are as follows:
  p Date- #{date}
  p Time-  #{time}
  p Venue-  #{venue} 
  p Following is the QR code to secure your (and not your imposter's) spot at the venue.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  img(src=`${url}` alt='Attendance Qr Code')
  p OD and Certificates along with refreshments will be provided to only those who get this QR Code Scanned at the Venue.
  p Looking forward to having an amazing time with you!
  p - Meteors, SRM